.card {
  &.bkb {
    border: 1px solid #fd6a1f;
  }
  &.fut {
    border: 1px solid #132a87;
  }
  &.vol {
    border: 1px solid #c91d92;
  }
  &.atletismo {
    border: 1px solid #d4af00;
  }
  .ball-container {
    margin: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0.3rem;
    &.bkb {
      border: 1px solid #fd6a1f;
    }

    &.fut {
      border: 1px solid #132a87;
    }
    &.vol {
      border: 1px solid #c91d92;
    }
    &.atletismo {
      border: 1px solid #d4af00;
    }
  }

  .deporte-container {
    display: flex;
    flex-direction: column;

    p {
      font-size: 8.5px;
    }

    .seleccion {
      margin-top: 0.1rem;
      p {
        font-size: 11px;
      }
    }
    .fecha-creacion {
      display: flex;
      gap: 0.2rem;

      .bkb {
        color: #fd6a1f;
      }
      .fut {
        color: #132a87;
      }
      .vol {
        color: #c91d92;
      }
      .atletismo {
        color: #d4af00;
      }
    }
    .numero-jugadores {
      display: flex;
      gap: 0.72rem;

      margin-bottom: 0.4rem;
      .basketball {
        p {
          color: #fd6a1f;
        }
      }
      .volleyball {
        p {
          color: #c91d92;
        }
      }

      .futbol {
        p {
          color: #132a87;
        }
      }

      .run {
        color: #d4af00;
      }
    }
  }
}

@media only screen and (max-width: 418px) {
  .cards {
    .card {
      p {
        font-size: 8px;
      }
      .numero-jugadores {
        display: flex;
        gap: 0.72rem;

        .num {
          background-color: rgb(20, 207, 220);
          border-radius: 50%;
          width: 10px;
          height: 10px;
          position: relative;
          p {
            position: relative;
            font-size: 6px;
            bottom: -20px;
          }
        }
      }
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.725rem; /* Ajusta el espacio entre los elementos según sea necesario */

    .menu-image {
      width: 1rem; /* Ajusta el ancho según sea necesario */
      &:hover {
        cursor: pointer;
      }
    }

    .logo-image {
      width: 4rem; /* Ajusta el ancho según sea necesario */
      margin: 0 auto; /* Centra el elemento horizontalmente */
      position: relative;
      left: 0.725rem;
    }
  }

  .page-title {
    margin: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 350px) {
  .cards {
    .btn-agregar-deportista {
      display: block;
      text-align: right;
      cursor: pointer;
      text-decoration: underline;
      font-size: 10px;
      margin-right: 1.5rem;
    }
    .card {
      width: auto;

      .deporte-container {
        p {
          font-size: 8.5px;
        }

        .seleccion {
          p {
            font-size: 10px;
          }
          &.volleyball {
            p {
              color: #c91d92;
            }
          }
          &.basket {
            p {
              color: #fd6a1f;
            }
          }
          &.futbol {
            p {
              color: #132a87;
            }
          }
          &.run {
            p {
              color: #d4af00;
            }
          }
        }
        .fecha-creacion {
          p {
            font-size: 7px;
          }
        }
        .numero-jugadores {
          p {
            font-size: 8px;
          }

          .num {
            p {
              font-size: 7px;
            }
          }
        }
      }
      div.ball-container {
        img {
          width: 100%;
        }
      }
    }

    .add-container {
      .add-btn {
        width: 1.5rem;
      }
    }
  }

  .container-opciones {
    margin-bottom: 1px;
    .deportistas,
    .equipos {
      font-size: 12px;
      width: 4.5rem; /* Asegúrate de que estén configurados para ser visibles en pantallas más pequeñas */
      padding: 0.5rem;
    }
  }
}
