@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

body {
  background-color: white;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
}
/* 
header {
  display: flex;
  background-color: white;
  padding: 1rem;

  height: 2rem;
  justify-content: space-evenly;
  .menu-image {
    display: flex;
  }

  .logo-image {
  }
}

 */
.body-div {
  height: auto;
  background-color: #fafafa;
  margin: 0 0.725rem;
  border-radius: 1rem 1rem 0 0;
  border: 1px solid rgb(201, 201, 201);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.725rem; /* Ajusta el espacio entre los elementos según sea necesario */
  .menu-image {
    width: 1.725rem; /* Ajusta el ancho según sea necesario */
    &:hover {
      cursor: pointer;
    }
  }

  .logo-image {
    width: 4.5rem; /* Ajusta el ancho según sea necesario */
    margin: 0 auto; /* Centra el elemento horizontalmente */
    padding-right: 2rem;
  }
}

.cards {
  font-family: "Cabin", sans-serif;

  .card {
    width: auto;
    height: 5rem;
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;

    border-radius: 0.5rem;
    background-color: rgb(239, 238, 238);

    align-items: center;
    border-radius: 1rem;
    margin: 1.5rem;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.336);

    &.lunes {
      border: 1px solid #132a87;
    }
    &.martes {
      border: 1px solid #fd6a1f;
    }
    &.miercoles {
      border: 1px solid #d4af00;
    }
    &.jueves {
      border: 1px solid #c91d92;
    }
    &.viernes {
      border: 1px solid #898989;
    }
    p {
      font-size: 0.8rem;
      color: #898989;
    }

    div.date-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      background-color: white;
      min-width: 5rem;
      max-height: 4.2rem;
      margin: 0.725rem;
      border-radius: 1rem;
      line-height: 1.2;
      font-size: 0.8rem;

      .day {
        width: auto;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: -15px;
        margin-top: 0.725rem;
      }

      .month {
        width: auto;
        font-weight: bold;
      }
    }

    .rectangle-container {
      margin-right: 0.6rem;
    }

    .event-container {
      display: flex;
      flex-direction: column;
      /* Ajusta el espacio entre los elementos según sea necesario */

      .event-item {
        height: 1.3rem;
        display: flex;
        align-items: center;
        text-align: justify;
        img {
          margin-right: 0.2rem;
        }
      }
    }
  }
}

.page-title {
  margin: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.date-line {
  position: relative;
  .date {
    position: absolute;
    top: -4.3rem;
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 380px) {
  .cards {
    .card {
      p {
        font-size: 8px;
      }
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.725rem; /* Ajusta el espacio entre los elementos según sea necesario */

    .menu-image {
      width: 1rem; /* Ajusta el ancho según sea necesario */
      &:hover {
        cursor: pointer;
      }
    }

    .logo-image {
      width: 4rem; /* Ajusta el ancho según sea necesario */
      margin: 0 auto; /* Centra el elemento horizontalmente */
      position: relative;
      left: 0.725rem;
    }
  }

  .page-title {
    margin: 1rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }

  .date-line {
    position: relative;
    .date {
      position: absolute;
      top: -3.8rem;
      padding: 0 1rem;
    }
  }

  .event-container {
    .event-item {
      img {
        width: 0.51rem;
      }
    }
  }
}

@media only screen and (max-width: 315px) {
  .cards {
    .card {
      p {
        font-size: 7px;
      }

      div.date-container {
        .day {
          font-size: 2rem;
          padding-bottom: 0.725rem;
        }
      }
    }
  }
}
