$main-color: #132a87;

.nav {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;

  .menu-icon_container {
    position: absolute;
    left: 2.225rem;
    cursor: pointer;

    .menu-icon {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .logo-container {
    width: auto;

    .logo {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .close-menu_icon {
    display: flex;
    justify-content: end;
    padding-top: 1.25rem;
    padding-right: 2.225rem;
    cursor: pointer;
  }

  ul {
    max-width: 520px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: fixed;
    top: 0;
    left: -100%;
    background: $main-color;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 999;

    li {
      width: 100%;
      margin-bottom: 1.25rem;

      a {
        color: #f2f2f2;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        transition: all 0.3s ease;
        width: 100%;
        margin-left: -100%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.75rem;

        &.active,
        &:hover {
          background: none;
          color: white;
        }
      }
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  #click:checked ~ ul {
    left: 0;

    li a {
      margin-left: 0px;
    }
  }

  .nav-item {
    width: 100%;
    margin-bottom: 1.25rem;
  }

  .nav-separator {
    height: 1px;
    width: 90%;
    background: white;
    margin: 2rem 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nav-logo {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.user-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;

  .user-picture_container {
    width: 5rem;
    margin-bottom: 10px;
    display: grid;
    place-items: center;

    img {
      border-radius: 2.5rem;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  .user-name {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    max-width: 270px;
  }
}
