$main-color: #132a87;

.input-container {
  margin-bottom: 0.75rem;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  flex: 1 0 45%;

  &:last-child {
    margin-bottom: 0;
  }
}

.input-label {
  font-size: 1rem;
  font-weight: bold;
  color: $main-color;
}

.input {
  border: 1px solid #d9d9d9;
  border-radius: 0.625rem;
  padding: 1rem;

  &::placeholder {
    color: #898989;
    font-size: 1rem;
    font-weight: bold;
  }
}
