$main-color: #132a87;
$input-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.25);
$orange: rgb(253, 106, 31);
$orange-gradient: linear-gradient(
  90deg,
  rgba(253, 106, 31, 1) 0%,
  rgba(255, 212, 9, 1) 100%
);

.login-view {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  width: 20rem;
  .logo-poliuca {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 750px) {
    width: 18rem;
  }
}

.title {
  color: $main-color;
  font-size: 2.5rem;
  margin: 2.875rem 0;
  @media (min-width: 750px) {
    margin: 2rem 0;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: $main-color;
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      border: 1px solid $main-color;
      border-radius: 1.35rem;
      width: 15.625rem;
      padding: 0.875rem 1.25rem;
      font-size: 0.75rem;
      font-weight: bold;
      color: $main-color;
      -webkit-box-shadow: $input-shadow;
      box-shadow: $input-shadow;

      &::placeholder {
        color: #898989;
      }
    }

    button {
      border: 1px solid $orange;
      border-radius: 1.35rem;
      width: 15.625rem;
      padding: 0.875rem 0;
      font-size: 0.75rem;
      font-weight: bold;
      color: white;
      background: $orange;
      background: $orange-gradient;
    }
  }
}

.google-btn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.625rem 4.75rem;
  border: 1px solid #518ef8;
  border-radius: 1.25rem;
  color: $main-color;
  font-weight: bold;
  font-size: 0.75rem;
  background: none;
  -webkit-box-shadow: $input-shadow;
  box-shadow: $input-shadow;

  .google-icon {
    position: absolute;
    left: 4px;
    top: 5px;
    img {
      object-fit: scale-down;
      height: 100%;
      width: 100%;
    }
  }
}

.login-separator {
  height: 1px;
  width: 80%;
  background: #d9d9d9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;

  &::after {
    content: "o";
    position: absolute;
    background-color: white;
    padding: 0 0.5rem;
  }
}
